<%- include('includes/head') %>

<section class="container">
  <h1>
    Home page
    
  </h1>
  <form action="/" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <label>Client</label>
    <input type="text"  name="client-input">
    <button>Submit</button>
  </form>
</section>

<%- include('includes/footer') %>