<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Login</h1>
      <p class="text-center">Login with your account or create one</p>

      <div class="row">
        <div class="col-lg">
        <div class="col-lg">
          <h4>Login</h4>
          <form action="/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label" name="email-login">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label" name="password-login">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>

            <p>New here? <a href="/login/register">Create an account</a></p>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
      </div>

    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>